<div class="d-flex flex-column flex-md-row align-items-center p-3 mb-4 justify-content-between border-bottom shadow-sm fixed-top">
  <a class="" routerLink="/">
    <img src="../../../assets/images/logo.png" alt="logo" style="max-height: 70px">
  </a>

  <nav class="mt-2 mt-md-0 text-uppercase" style="font-size: larger">
    <a class="me-3 py-2 text-decoration-none" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a class="me-3 py-2 text-decoration-none" [routerLink]="['/shop']" routerLinkActive="active">Shop</a>
    <a class="me-3 py-2 text-decoration-none" [routerLink]="['/test-error']" routerLinkActive="active">Errors</a>
  </nav>


  <div class="d-flex align-items-center">
    <a class="position-relative" routerLink="/basket">
      <i class="fa fa-shopping-cart fa-2x mx-5 text-dark"></i>
      <div class="cart-no" *ngIf="(basket$ | async) as basket">{{basket.items.length}}</div>
    </a>

    <ng-container *ngIf="(currentUser$ | async) === null">
      <a class="me-3 btn btn-outline-primary" routerLink="/account/login">Login</a>
      <a class="me-3 btn btn-outline-primary" routerLink="/account/register">Sign up</a>
    </ng-container>

    <ng-container *ngIf="currentUser$ | async">
      <a href="#">Welcome {{(currentUser$ | async).displayName}} </a>

    </ng-container>

  </div>
</div>
